<script src="https://cdn.plot.ly/plotly-2.24.1.min.js" charset="utf-8"></script>

<div class="container">
    <div class="row">
        <div class="col-lg-12 dashboard-header">
            <h1 class="mt-4">Tableau de bord</h1>
            <div class='dashboard-print mt-2'>
                <button
                    type="button"
                    class="btn btn-light btn-lg mt-2 mr-4 float-right"
                    (click)="print()"
                >
                <i class="fa fa-print"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="mt-4 mb-4">Les programmes</h2>
            <p>Attention, les données présentées ici sont des données brutes, non vérifiées, qui peuvent mener à de mauvaises interprétations.</p>
            <p>Choisissez un programme ci-dessous pour voir ses statistiques</p>
            <div class="dashboard-selector">
                <select
                    type="text"
                    class="form-control"
                    [(ngModel)]="selectedProgram"
                    (ngModelChange)="onProgramChange()"
                    >
                    <option *ngFor="let p of programs" [ngValue]="p">
                        {{ p.id_program }}. {{ p.title }}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div *ngFor="let p of programSites" class="row">
        <div class="col-lg-12" [ngClass]="p.programId === selectedProgram.id_program ? '' : 'program-hidden'">
            <div class="mt-5 mb-5 dashboard-title">
                <h3>
                    {{ p.title }} <a href="programs/{{p.programId}}/sites"><i class="fa fa-link ml-2"></i></a>
                </h3>
            </div>

            <div class="row mb-5">

                <div class="dashboard-program-info col-lg-12">
                    <h4><i class="fa fa-info mr-2"></i>Informations générales</h4>

                    <div class="mb-3">{{ p.description }}</div>

                    <ul class="dashboard-program-info-list">
                        <li><i class="fa fa-info mr-2"></i>{{ p.count }} sites répertoriés, dont {{ p.countImport }} importés</li>
                        <li><i class="fa fa-calendar mr-2"></i>Observations du {{ p.firstVisitDate.toLocaleDateString() }} au {{ p.lastVisitDate.toLocaleDateString() }}</li>
                        <li><i class="fa fa-user mr-2"></i>Liste des contributeurs: {{ p.contributors.join(', ') }}</li>
                    </ul>

                    <div *ngIf="p.geometryType === 'ligne'">
                        <div class="">Longueur cartographiée: {{ p.sumLineLength.toFixed(2) }} km</div>
                        <div class="">Productivité MAP au 100 m pour 10 ans: {{ (p.sumLineLength * 10 * 12).toFixed() }} MAP</div>
                        <div>Actuellement, les ressources enregistrées permettrait de chauffer {{ ((p.sumLineLength * 10 * 12) / 30).toFixed() }} habitations (150 m²).</div>
                    </div>

                    <div *ngIf="p.geometryType === 'polygone'">
                        <div class="">Surface cartographiée: {{ p.sumArea.toFixed(2) }} ha</div>
                    </div>
                </div>

                <div class="dashboard-program-table mt-3 col-lg-12">
                    <h4><i class="fa fa-table mr-2"></i>Propriétés observées</h4>
                    <div *ngFor="let k of p.keys" class="col-lg-12">

                        <details *ngIf="p.formKey[k].formType !== 'textarea'">

                            <summary class="mt-2">{{ p.formKey[k].title }}</summary>
                            <div class="row mt-2">
                                <div class="col-lg-8 col-md-6 dashboard-program-graph">
                                    <div class="mb-3" id="site{{p.programId}}-graph-{{k}}"></div>
                                </div>
                                <div class="col-lg-4 col-md-6 dashboard-program-table">
                                    <div *ngIf="p.formKey[k].type === 'string'" id="countByKey-{{k}}" >

                                        <table class="table table-striped dashboard-table">
                                            <tbody>
                                                <tr *ngFor="let v of p.countByKey[k]">
                                                    <td>{{ v.name }}</td>
                                                    <td>{{ v.count }}</td>
                                                    <td>{{ (v.part * 100).toFixed() }} %</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div *ngIf="p.formKey[k].type === 'integer'" id="countByKey-{{k}}" >

                                        <table class="table table-striped dashboard-table">
                                            <tbody>
                                                <tr>
                                                    <td>Moyenne</td>
                                                    <td>{{ p.statByKey[k].mean }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Minimum</td>
                                                    <td>{{ p.statByKey[k].min }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Maximum</td>
                                                    <td>{{ p.statByKey[k].max }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Médiane</td>
                                                    <td>{{ p.statByKey[k].median }}</td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                        </details>
                    </div>
                </div>
            </div>

            <div class="row mb-5 d-flex">
                <div class="col-12">
                    <h4><i class="fa fa-map  mr-2"></i>Carte des observations</h4>
                    <div [ngClass]="col-lg-12" class="dashboard-map justify-content-center" >
                        <div class="col-lg-12 dashboard-map-container" id="dashboardMap-{{p.programId}}"></div>
                        <!-- <div class="dashboard-map-switch">
                            <button
                                type="button"
                                class="btn btn-light mr-4 float-right"
                                (click)="toggleMapLarge()"
                            >
                            <i *ngIf="showMapLarge else elseBlockMap" class="fa fa-arrow-right"></i>
                            <ng-template #elseBlockMap><i class="fa fa-arrow-left"></i></ng-template>
                            </button>
                        </div> -->
                        <div class="dashboard-map-legend">
                            <div>Relevé <span><img src="assets/pointer-green.png"></span></div>
                            <div>Import <span><img src="assets/pointer-orange.png"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-lg-12 dashboard-section">
            <h2 class="mt-4">Données de base</h2>
            <div class="row dashboard-base">
                <div class="col-lg-4 border-right">Superficie: <span>{{ dashboardData?.base.area }}</span> km²</div>
                <div class="col-lg-4 border-right">Habitants: <span>{{ dashboardData?.base.population }}</span> hab.</div>
                <div class="col-lg-4">Densité de population: <span>{{ (dashboardData?.base.population / dashboardData?.base.area).toFixed(2) }}</span> hab/km²</div>
            </div>
        </div>

        <div class="col-lg-12 dashboard-section">
            <h2 class="mt-4">Occupation du sol</h2>
            <div class="row dashboard-occsol">
                <div class="dashboard-occsol-occsol col-lg-6">
                    <h3>Les groupes d'occupation du sol</h3>
                    <table class="dashboard-table table table-striped">
                        <tr *ngFor="let l of dashboardData?.landuse">
                            <td>{{ l.name }}</td>
                            <td>{{ l.area }} ha</td>
                            <td>{{ (l.area / 100 / dashboardData?.base.area * 100).toFixed(0) }} %</td>
                        </tr>
                    </table>
                </div>
                <div class="dashboard-occsol-cultures col-lg-6">
                    <h3>Les principales cultures</h3>
                    <table class="dashboard-table table table-striped">
                        <tr *ngFor="let l of dashboardData?.production">
                            <td>{{ l.name }}</td>
                            <td>{{ l.area }} ha</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="col-lg-12 dashboard-section">
        <h2 class="mt-4">Biomasse</h2>
        <div class="row dashboard-biomasse">
            <div class="dashboard-biomasse-method-1 col-lg-6">
                <h3>Méthode "GAL Tiges & Chavées"</h3>
                <table class="dashboard-table table table-striped">
                    <tr>
                        <td>Potentiel théorique estimé des superficies agricoles</td>
                        <td>{{ dashboardData?.biomasse.agri_area * 1 }} MWh</td>
                    </tr>
                    <tr>
                        <td>Potentiel théorique estimé des superficies forestières</td>
                        <td>{{ dashboardData?.biomasse.forest_area * 1 }} MWh</td>
                    </tr>
                    <tr>
                        <td>Captation théorique</td>
                        <td><b>{{ (dashboardData?.biomasse.agri_area * 1 +  dashboardData?.biomasse.forest_area * 1 ) * 0.2 }} MWh</b></td>
                    </tr>
                </table>
            </div>
            <div *ngIf="siteLine" class="dashboard-biomasse-method-2 col-lg-6">
                <h3>Méthode "PN Viroin"</h3>
                <table class="dashboard-table table table-striped">
                    <tr>
                        <td>Longueur totale des haies</td>
                        <td>{{ siteLine.sumLineLength.toFixed(2) }} km</td>
                    </tr>
                    <tr>
                        <td>Productivité MAP au 100 m pour 10 ans</td>
                        <td>{{ (siteLine.sumLineLength * 10 * 12).toFixed() }} MAP</td>
                    </tr>
                </table>
                <p>Actuellement, les ressources enregistrées permettrait de chauffer {{ ((siteLine.sumLineLength * 10 * 12) / 30).toFixed() }} habitations (150 m²).</p>
            </div>
        </div>
    </div> -->
</div>


