div.dashboard-header {
    display: flex;
    justify-content: space-between;
}

div.dashboard-section {
    margin-bottom: 16px;
}

div.dashboard-selector {
    max-width: 28rem;
}

ul.dashboard-program-info-list {
    list-style-type: unset;
    line-height: 2rem;
}

div.dashboard-program-table {
    overflow: auto;
    height: 480px;
    scrollbar-color: rgb(128, 139, 164);
}

table.dashboard-table {
    font-size: 0.9rem;
}

div.dashboard-map-container {
    height: 100%;
    min-height: 500px;
    max-width: 1040px;
}
@media screen and (max-width: 991px) {
    div.dashboard-map-container {
        max-width: 700px;
    }
}

p.dashboard-popup {
    padding: 10px;
}

div.dashboard-map-legend {
    position: absolute;
    bottom: 66px;
    right: 90px;
    font-size: 0.9em;
    z-index: 500;
    background-color: white;
    border-radius: 4px;
    padding: 6px;
    border: 2px solid rgba(0,0,0,.2);
}
@media screen and (max-width: 1200px) {
    div.dashboard-map-legend {
        bottom: 28px;
        right: 28px;
    }
}

div.dashboard-map-legend img {
    height: 22px;
}

div.program-hidden {
    visibility: hidden;
    height: 0;
}

div.print{ 
    display: none;
}

@media print {
    header, 
    div.dashboard-print, 
    div.dashboard-program-select,
    div.dashboard-title > a {
        display: none!important;
    }
    div.dashboard-base > div {
        border: none!important;
    }
    div.dashboard-map {
        margin-top: 600px;
        margin-bottom: 800px;
        /* page-break-before: always; /* does not work with float, display:flex, ...
        page-break-after: always; */
        display: block;
    }
    div#dashboardMap {
        height: 800px;
        width: 900px;
        margin: 0 auto;
    }
    summary {
        display: block;
        font-size: 1.2rem;
        font-weight: bold;
    }
    div.print{
        display: flex;
    }
    .pagebreak { page-break-before: always; }
}

h1, h2, h3, h4 {
    color: var(--primary);
}

h3 > a {
    color: var(--primary);
    font-size: 1.4rem;
}