<script src="https://cdn.plot.ly/plotly-2.24.1.min.js" charset="utf-8"></script>

<div class="container">
    <div class="row">
        <div class="col-lg-12 dashboard-header">
            <h1 class="mt-4">Tableau de bord</h1>
            <div class='dashboard-print'>
                <button
                    type="button"
                    class="btn btn-light btn-lg mt-2 mr-4 float-right"
                    (click)="print()"
                >
                <i class="fa fa-print"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="mt-4">Les programmes</h2>
            <p>Attention, les données présentées ici sont des données brutes, non vérifiées, qui peuvent mener à de mauvaises interprétations.</p>
        </div>

        <div class="col-lg-12">
            <p>Choix d'un programme</p>
            <select
                type="text"
                class="form-control"
                [(ngModel)]="selectedProgram"
                (ngModelChange)="onProgramChange()"
                >
                <option *ngFor="let p of programs" [ngValue]="p">
                    {{ p.id_program }}. {{ p.title }}
                </option>
            </select>
        </div>

        <div *ngFor="let p of programSites" class="row border-bottom">
            <div class="col-lg-12" [ngClass]="p.programId === selectedProgram.id_program ? '' : 'program-hidden'">
                <div class="mt-5">
                    <h3><a href="programs/{{p.programId}}/sites">{{ p.title }}</a></h3>
                </div>

                <div class="row mb-5">

                    <div class="dashboard-program-info col-lg-12" >
                        <div class="font-weight-bold">{{ p.count }} sites répertoriés</div>
                        <div class="font-weight-bold">dont {{ p.countImport }} importés</div>

                        <div *ngIf="p.geometryType === 'ligne'">
                            <div class="">Longueur cartographiée: {{ p.sumLineLength.toFixed(2) }} km</div>
                            <div class="">Productivité MAP au 100 m pour 10 ans: {{ (p.sumLineLength * 10 * 12).toFixed() }} MAP</div>
                            <div>Actuellement, les ressources enregistrées permettrait de chauffer {{ ((p.sumLineLength * 10 * 12) / 30).toFixed() }} habitations (150 m²).</div>
                        </div>

                        <div *ngIf="p.geometryType === 'polygone'">
                            <div class="">Surface cartographiée: {{ p.sumArea.toFixed(2) }} ha</div>
                        </div>
                    </div>

                    <div *ngFor="let k of p.keys" class="col-lg-12">
                        <details *ngIf="p.formKey[k].formType !== 'textarea'">

                            <summary class="mt-4">{{ p.formKey[k].title }}</summary>
                            <div class="row mt-2">
                                <div class="col-lg-6 dashboard-program-graph">
                                    <div class="mb-3" id="site{{p.programId}}-graph-{{k}}"></div>
                                </div>
                                <div class="col-lg-6 dashboard-program-table">
                                    <div *ngIf="p.formKey[k].type === 'string'" id="countByKey-{{k}}" >

                                        <table class="table table-striped">
                                            <tbody>
                                                <tr *ngFor="let v of p.countByKey[k]">
                                                    <td>{{ v.name }}</td>
                                                    <td>{{ v.count }}</td>
                                                    <td>{{ v.part * 100 }} %</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </details>
                    </div>

                </div>

                <div class="row mb-5 d-flex justify-content-center">
                    <div [ngClass]="col-lg-12" class="dashboard-map" >
                        <div class="col-lg-12 dashboard-map-container" id="dashboardMap-{{p.programId}}"></div>
                        <!-- <div class="dashboard-map-switch">
                            <button
                                type="button"
                                class="btn btn-light mr-4 float-right"
                                (click)="toggleMapLarge()"
                            >
                            <i *ngIf="showMapLarge else elseBlockMap" class="fa fa-arrow-right"></i>
                            <ng-template #elseBlockMap><i class="fa fa-arrow-left"></i></ng-template>
                            </button>
                        </div> -->
                        <div class="dashboard-map-legend">
                            <div>Relevé <span><img src="assets/pointer-green.png"></span></div>
                            <div>Import <span><img src="assets/pointer-orange.png"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-lg-12 dashboard-section">
            <h2 class="mt-4">Données de base</h2>
            <div class="row dashboard-base">
                <div class="col-lg-4 border-right">Superficie: <span>{{ dashboardData?.base.area }}</span> km²</div>
                <div class="col-lg-4 border-right">Habitants: <span>{{ dashboardData?.base.population }}</span> hab.</div>
                <div class="col-lg-4">Densité de population: <span>{{ (dashboardData?.base.population / dashboardData?.base.area).toFixed(2) }}</span> hab/km²</div>
            </div>
        </div>

        <div class="col-lg-12 dashboard-section">
            <h2 class="mt-4">Occupation du sol</h2>
            <div class="row dashboard-occsol">
                <div class="dashboard-occsol-occsol col-lg-6">
                    <h3>Les groupes d'occupation du sol</h3>
                    <table class="dashboard-table table table-striped">
                        <tr *ngFor="let l of dashboardData?.landuse">
                            <td>{{ l.name }}</td>
                            <td>{{ l.area }} ha</td>
                            <td>{{ (l.area / 100 / dashboardData?.base.area * 100).toFixed(0) }} %</td>
                        </tr>
                    </table>
                </div>
                <div class="dashboard-occsol-cultures col-lg-6">
                    <h3>Les principales cultures</h3>
                    <table class="dashboard-table table table-striped">
                        <tr *ngFor="let l of dashboardData?.production">
                            <td>{{ l.name }}</td>
                            <td>{{ l.area }} ha</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="col-lg-12 dashboard-section">
        <h2 class="mt-4">Biomasse</h2>
        <div class="row dashboard-biomasse">
            <div class="dashboard-biomasse-method-1 col-lg-6">
                <h3>Méthode "GAL Tiges & Chavées"</h3>
                <table class="dashboard-table table table-striped">
                    <tr>
                        <td>Potentiel théorique estimé des superficies agricoles</td>
                        <td>{{ dashboardData?.biomasse.agri_area * 1 }} MWh</td>
                    </tr>
                    <tr>
                        <td>Potentiel théorique estimé des superficies forestières</td>
                        <td>{{ dashboardData?.biomasse.forest_area * 1 }} MWh</td>
                    </tr>
                    <tr>
                        <td>Captation théorique</td>
                        <td><b>{{ (dashboardData?.biomasse.agri_area * 1 +  dashboardData?.biomasse.forest_area * 1 ) * 0.2 }} MWh</b></td>
                    </tr>
                </table>
            </div>
            <div *ngIf="siteLine" class="dashboard-biomasse-method-2 col-lg-6">
                <h3>Méthode "PN Viroin"</h3>
                <table class="dashboard-table table table-striped">
                    <tr>
                        <td>Longueur totale des haies</td>
                        <td>{{ siteLine.sumLineLength.toFixed(2) }} km</td>
                    </tr>
                    <tr>
                        <td>Productivité MAP au 100 m pour 10 ans</td>
                        <td>{{ (siteLine.sumLineLength * 10 * 12).toFixed() }} MAP</td>
                    </tr>
                </table>
                <p>Actuellement, les ressources enregistrées permettrait de chauffer {{ ((siteLine.sumLineLength * 10 * 12) / 30).toFixed() }} habitations (150 m²).</p>
            </div>
        </div>
    </div> -->
</div>


